/* Tela Grande */

@media(min-width: 768px){
	.panel-default{
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert{
		margin-left: 10px;
		margin-right: 10px;
	}	
}

.navbar-brand{
	padding-top: 12px;
}


.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel{
	float: left;
	padding-top: 2px;
}
