<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<title>Cadastro de Título</title>
</head>
<section layout:fragment="conteudo"> 


	<form class="form-horizontal" method="post" th:action="@{/titulos}" th:object="${tituloVO}">
	
		<div layout:include="mensagemGeral"></div>
		<div layout:include="mensagemErro"></div>
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
						<h1 class="panel-title aw-titulo-panel">Novo Título</h1>
						<a class="btn btn-link  aw-link-panel" th:href="@{/titulos}">Voltar para a pesquisa</a>					
					</div>
			</div>
			
			<div class="panel-body">
				<input type="hidden" th:field="*{id}"/>
			
				<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
					<label for="descricao" class="col-sm-2 control-label">Descricao</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('dataVencimento')} ? has-error">
					<label for="dataVencimento" class="col-sm-2 control-label">Data de vencimento</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" 
							   id="dataVencimento" th:field="*{dataVencimento}"
							   data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
							   data-date-autoclose="true" data-date-today-highlight="true"
							   data-date-orientation="bottom"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? has-error">
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control js-currency" id="valor" th:field="*{valor}"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-2">
						<select class="form-control" name="status" th:field="*{status}">
							<option th:each="status: ${listStatus}" 
									th:value="${status}" 
									th:text="${status.descricao}">
							</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
				
			</div>
			
		</div>
	</form>	
</section>
</html>