<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<title>Pesquisa de Titulos</title>
</head>
<section layout:fragment="conteudo">
	
		<div layout:include="mensagemGeral"></div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div>
					<div class="clearfix">
						<h1 class="panel-title aw-titulo-panel">Pesquisa de titulos</h1>
						<a class="btn btn-link  aw-link-panel" th:href="@{/titulos/novo}">Novo titulo</a>					
					</div>
				</div>
			</div>
			
			<div class="panel-body">
			
				<form method="GET" class="form-horizontal" th:action="@{/titulos}" th:object="${filtro}">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<input class="form-control" placeholder="Qual título você está pesquisando?" 
									   autofocus="autofocus" name="descricao" th:field="*{descricao}"/>
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			
			
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th class="text-center col-md-1" >#</th>
							<th>Descrição</th>
							<th class="text-center col-md-2">Data de vencimento</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-1"></th>
						</tr>
						</thead>
						
						<tbody>
							<tr th:if="${!#lists.isEmpty(listTodosTitulos)}" th:each="titulo : ${listTodosTitulos}">
								<td class="text-center" th:text="${titulo.id}"></td>
								<td th:text="${titulo.descricao}"></td>
								<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
								<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
								<td class="text-center" th:attr="data-role=${titulo.id}">
									<span class="label" th:text="${titulo.status.descricao}"
									 th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
								</td>
								<td class="text-center">
									<a class="btn btn-link btn-xs" th:href="@{/titulos/{id}(id=${titulo.id})}" 
									   title="Editar" rel="tooltip" data-placement="top">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									
									<a class="btn btn-link btn-xs" data-toggle="modal" 
									   data-target="#confirmacaoExclusaoModal" 
									   	    th:attr="data-id=${titulo.id}, data-descricao=${titulo.descricao}"
									   	    title="Excluir" rel="tooltip" data-placement="top">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
									
									<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
									   title="Receber" rel="tooltip" data-placement="top" 
									   th:attr="data-id=${titulo.id}"
									   th:href="@{/titulos/{id}/receber(id=${titulo.id})}">
										<span class="glyphicon glyphicon-check"></span>
									</a>
								</td>
							</tr>
							
							<tr>
								<td colspan="6" th:if="${#lists.isEmpty(listTodosTitulos)}">Nenhum titulo foi encontrado!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div layout:include="dialogoExclusao"></div>
		</div>
</section>
</html>